services:
  db:
    image: postgres:15-alpine
    container_name: passwordy_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-passwordy}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: passwordy_backend
    restart: always
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - VAULT_MASTER_KEY=${VAULT_MASTER_KEY}
      - POSTGRES_SERVER=db
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_DB=${POSTGRES_DB:-passwordy}
      - INITIAL_USERNAME=${INITIAL_USERNAME:-admin}
      - INITIAL_PASSWORD=${INITIAL_PASSWORD:-changeme}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8001:8000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev-stage
    container_name: passwordy_frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
